[
  {chat_client, [
    % Server address (erlang node name, check 'server_name_type').
    % i.e.: 'main_server@127.0.0.1'
    {server_name, 'main_server@127.0.0.1'},
    
    % Sets if the server is using short names or fully qualified host name.
    % shortnames | longnames (for fully qualified host name)
    {server_name_type, longnames},
    
    % cookie for distributed node connection.
    % i.e.: 'redgage2020'
    {server_cookie, 'redgage2020'}
  ]}
].
