[
  {kernel, [
    % Sets the distribution config for the servers nodes involved.
    % i.e.: {distributed, [{chat_server, ['main_server@127.0.0.1', {'backup_server@127.0.0.1'}]}]},
    {distributed, [{chat_server, ['main_server@127.0.0.1', {'backup_server@127.0.0.1'}]}]},
    
    % Sets the optional syncronication with the backup server node.
    % i.e.: {sync_nodes_optional, ['main_server@127.0.0.1']},
    {sync_nodes_optional, ['main_server@127.0.0.1']},
    
    {sync_nodes_timeout, 2000}
  ]}
].

